@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #1a1a1a;
}

* {
    font-weight: 500;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1a1a1a;
    font-family: "Raleway", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    transition-duration: 0.3s;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 0px auto;
}

a:hover{
    color: #abdded;
}

/* Header */
.navbar{
    position: sticky;
    top: 0px;
    background-color: var(--bg-color);
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.logo img {
    margin-right: 16px;
    border-radius: 6px;
    width: 56px !important;
}

.logo span {
    font-size: 6;
    font-weight: 700;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.navbar li {
    position: relative;
    margin-left: 24px;
    padding: 12px 0px;
}

.navbar li:first-child {
    margin-left: 0;
}

.dropdown-cont {
    position: absolute;
    z-index: 500;
    top: 43px;
    right: 0px;
    display: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    width: 170px;
}

.dropdown:hover>.dropdown-cont {
    display: block;
}  

.dropdown-cont ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.dropdown-cont ul li {
    margin-left: 0px;
    white-space: nowrap;
    margin-bottom: 0px;
    padding: 8px 16px;
    width: 100%;
}

.dropdown-cont ul li:hover {
    background-color: #dfdfdf;
}

.dropdown-cont a {
    color: #1a1a1a;

}

/* Hero Section */
.hero-section .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 580px;
    height: 80vh;
    max-height: 600px;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 2px solid #3b3b3b;
    /* background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?q=80&w=2047&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
}
