@import url('https://fonts.googleapis.com/css2?family=Courier+New:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #111;
    --primary-color: #B200ED;
    --hover-color: #4cae4c;
    --text-color: #fff;
}

body {
    font-family: "Courier New", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.logo img {
    margin-right: 16px;
    border-radius: 6px;
    width: 56px !important;
}

.logo span {
    font-size: 24px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
    margin-left: 24px;
    padding: 12px 0;
}

.navbar li:first-child {
    margin-left: 0;
}

.dropdown-cont {
    position: absolute;
    z-index: 500;
    top: 43px;
    right: 0;
    display: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    width: 170px;
}

.dropdown:hover > .dropdown-cont {
    display: block;
}

.dropdown-cont ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.dropdown-cont ul li {
    margin-left: 0;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 8px 16px;
    width: 100%;
}

.dropdown-cont ul li:hover {
    background-color: #dfdfdf;
}

.dropdown-cont a {
    color: #1a1a1a;
}

/* Registration Section */
.registration-content {
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border: 2px solid #3b3b3b;
    border-radius: 12px;
}

.registration-content h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.registration-content p {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 30px;
}

.registration-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.registration-table th, .registration-table td {
    border: 2px solid #3b3b3b;
    padding: 10px;
    color: var(--text-color);
    text-align: center;
}

.registration-table th {
    background-color: var(--primary-color);
    font-size: 1.2em;
}

.registration-table td {
    background-color: #1f1f1f;
    font-size: 1.2em;
}

.register-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #9b00d9;
}
